/****** Script for SelectTopNRows command from SSMS  ******/
INSERT INTO dbo.Date([date]
      ,[standard_date]
      ,[year]
      ,[quarter]
      ,[month]
      ,[day]
      ,[quarter_number]
      ,[quarter_description]
      ,[quarter_name]
      ,[month_number]
      ,[month_description]
      ,[month_name]
      ,[day_number]
      ,[day_description]
      ,[day_of_week]
      ,[day_name])
      
SELECT [Date]
      ,[StandardDate]
      ,[Year]
      ,[Quarter]
      ,[Month]
      ,[Day]
      ,[QuarterNum]
      ,[QuarterDescr]
      ,[QuarterName]
      ,[MonthNum]
      ,[MonthDescr]
      ,[MonthName]
      ,[DayNum]
      ,[DayDescr]
      ,[DayOfWeek]
      ,[DayName]
  FROM [SeerDWH].[dbo].[dimDate]